<header id="header">
  <div id="wrapper" class="">
    <div class="overlay" style="display: none;"></div>
    <input type="checkbox" id="menu" />
    <label for="menu" class="hamburger">
      <span></span> <span></span> <span></span>
    </label>
    <nav class="nav">
      <ul>
        <li class="main-nav"><a routerLink="/dashboard">Dashboard</a></li>
        <!-- <li><a routerLink="/shops">Shops</a></li> -->
        <li><a routerLink="/categories">Manage Product Categories</a></li>
        <!-- <li><a routerLink="/products">Products</a></li> -->
        <!-- <li class="main-nav"><a>Buyers/Sellers</a></li> -->
        <li><a routerLink="/buyers">Manage Buyers</a></li>
        <li><a routerLink="/sellers">Manage Sellers</a></li>
        <!--
          <li>
            <a routerLink="/cancellation-request">Order cancellation request</a>
          </li>
        -->
      </ul>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-header">
      <div class="container">
        <a class="navbar-brand" routerLink="/dashboard">
          <img
            src="assets/logo/logo.png"
            style="height: 41px;
          width: 74px;"
            alt=""
          />
        </a>
        <!--
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
        -->
        <!--
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav ">
              <li class="nav-item active">
                  <a class="nav-link" href="#">Home
                      <span class="sr-only">(current)</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
              </li>
          </ul>
        -->
        <!--
          <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        -->

        <ul class="navbar-nav nav-profile-pic navbar-right">
          <li class="nav-item">
            <div class="dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                href="#"
                role="button"
              >
                <!-- <img src="//via.placeholder.com/42x42" alt="" /> -->
                Account
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" routerLink="/profile"
                  >Change Password</a
                >
                <!-- <a class="dropdown-item" href="#">Change Password</a> -->
                <a class="dropdown-item" (click)="doLogout()">Logout</a>
              </div>
            </div>
          </li>
        </ul>

        <!--
          <ul>
            <li role="presentation" class="dropdown">
              <a
                href="javascript:void()"
                class="dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >More</a
              >
              <ul class="dropdown-menu">
                <li><a routerLink="/profile">View Profile</a></li>
                <li><a href="#">Change Password</a></li>
                <li><a (click)="doLogout()">Logout</a></li>
              </ul>
            </li>
          </ul>
        -->
      </div>
    </nav>
  </div>
</header>
