<div class="card">
  <div class="sectionhead"><h4>Manage - Cancellation Requests</h4>
  
      <ul class="breadcrumb">
<li><a href="home.php">Home</a></li>
<li><a href="0">Order Cancellation Request</a></li>
</ul>
      
  </div>
  <div class="sectionbody" id="cancellation-requests-list"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
<tbody><tr>
<th>ID</th>
<th>Buyer Details</th>
<th>Vendor Details</th>
<th>Request Details</th>
<th>Amount</th>
<th>Date</th>
<th>Status</th>
<th>Action</th>    </tr>
<tr>
<td nowrap="nowrap">#C00018</td>
<td nowrap="nowrap"><strong>N</strong>: soft                <br><strong>U</strong>: soft                <br><strong>E</strong>: soft@dummyid.com                <br><strong>P</strong>: </td>
<td nowrap="nowrap"><strong>N</strong>: Maxixx                <br><strong>U</strong>: maxixx                <br><strong>E</strong>: maxixx@dummyid.com                <br><strong>P</strong>: 987654321</td>
<td><strong>Order:</strong> 171004-0000784-S0001                <br><strong>Status:</strong> Cancelled                <br><strong>Reason:</strong> I ordered the wrong product(s)                <br><strong>Comments</strong>: <span class="short">wrong Product</span></td>
<td nowrap="nowrap">&#x20B9;67.50</td>
<td nowrap="nowrap">Oct 04, 2017</td>
<td nowrap="nowrap">Pending</td>
  <td nowrap="nowrap">
<ul class="actions">
   <li>
      <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch enabled">
          <i class="fas fa-check-circle"></i>
      </a>
  </li>
<li>
<a href="javascript:void(0);" title="Decline" class="toggleswitch enabled">
          <i class="fas fa-times-circle"></i></a>
</li>

</ul></td>
</tr>
<tr>
<td nowrap="nowrap">#C00017</td>
<td nowrap="nowrap"><strong>N</strong>: Virender                <br><strong>U</strong>: Virender                <br><strong>E</strong>: a1@dummyid.com                <br><strong>P</strong>: 99227847878</td>
<td nowrap="nowrap"><strong>N</strong>: Home store                <br><strong>U</strong>: Homestore                <br><strong>E</strong>: Homestore@dummyid.com                <br><strong>P</strong>: 96456985255</td>
<td><strong>Order:</strong> 151023-0000669-S0001                <br><strong>Status:</strong> Payment Confirmed                <br><strong>Reason:</strong> I ordered the wrong product(s)                <br><strong>Comments</strong>: <span class="short">hiii</span></td>
<td nowrap="nowrap">&#x20B9;63.00</td>
<td nowrap="nowrap">Oct 26, 2015</td>
<td nowrap="nowrap">Pending</td>
  <td nowrap="nowrap">
<ul class="actions">
   <li>
      <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch enabled">
          <i class="fas fa-check-circle"></i>
      </a>
  </li>
<li>
<a href="javascript:void(0);" title="Decline" class="toggleswitch enabled">
          <i class="fas fa-times-circle"></i></a>
</li>

</ul></td>
</tr>
<tr>
<td nowrap="nowrap">#C00014</td>
<td nowrap="nowrap"><strong>N</strong>: Maxixx                <br><strong>U</strong>: maxixx                <br><strong>E</strong>: maxixx@dummyid.com                <br><strong>P</strong>: 987654321</td>
<td nowrap="nowrap"><strong>N</strong>: Home store                <br><strong>U</strong>: Homestore                <br><strong>E</strong>: Homestore@dummyid.com                <br><strong>P</strong>: 96456985255</td>
<td><strong>Order:</strong> 151020-0000643-S0001                <br><strong>Status:</strong> Payment Confirmed                <br><strong>Reason:</strong> I ordered the wrong product(s)                <br><strong>Comments</strong>: <span class="short">asssd</span></td>
<td nowrap="nowrap">&#x20B9;132.30</td>
<td nowrap="nowrap">Oct 20, 2015</td>
<td nowrap="nowrap">Pending</td>
  <td nowrap="nowrap">
<ul class="actions">
   <li>
      <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch enabled">
          <i class="fas fa-check-circle"></i>
      </a>
  </li>
<li>
<a href="javascript:void(0);" title="Decline" class="toggleswitch enabled">
          <i class="fas fa-times-circle"></i></a>
</li>

</ul></td>
</tr>
<tr>
<td nowrap="nowrap">#C00013</td>
<td nowrap="nowrap"><strong>N</strong>: Maxixx                <br><strong>U</strong>: maxixx                <br><strong>E</strong>: maxixx@dummyid.com                <br><strong>P</strong>: 987654321</td>
<td nowrap="nowrap"><strong>N</strong>: Maxixx                <br><strong>U</strong>: maxixx                <br><strong>E</strong>: maxixx@dummyid.com                <br><strong>P</strong>: 987654321</td>
<td><strong>Order:</strong> 151019-0000633-S0001                <br><strong>Status:</strong> Delivered                <br><strong>Reason:</strong> The supplier did not ship the order on time as agreed                <br><strong>Comments</strong>: <span class="short">These are test comments...</span></td>
<td nowrap="nowrap">&#x20B9;71.40</td>
<td nowrap="nowrap">Oct 19, 2015</td>
<td nowrap="nowrap">Pending</td>
  <td nowrap="nowrap">
<ul class="actions">
   <li>
      <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch enabled">
          <i class="fas fa-check-circle"></i>
      </a>
  </li>
<li>
<a href="javascript:void(0);" title="Decline" class="toggleswitch enabled">
          <i class="fas fa-times-circle"></i></a>
</li>

</ul></td>
</tr>
<tr>
<td nowrap="nowrap">#C00012</td>
<td nowrap="nowrap"><strong>N</strong>: Kaushal                <br><strong>U</strong>: Kaushal                <br><strong>E</strong>: kaushal.arwal@fatbit.com                <br><strong>P</strong>: </td>
<td nowrap="nowrap"><strong>N</strong>: Maxixx                <br><strong>U</strong>: maxixx                <br><strong>E</strong>: maxixx@dummyid.com                <br><strong>P</strong>: 987654321</td>
<td><strong>Order:</strong> 151017-0000623-S0001                <br><strong>Status:</strong> Delivered                <br><strong>Reason:</strong> I placed a duplicate order                <br><strong>Comments</strong>: <span class="short">Duplicate Order</span></td>
<td nowrap="nowrap">&#x20B9;315.00</td>
<td nowrap="nowrap">Oct 17, 2015</td>
<td nowrap="nowrap">Pending</td>
  <td nowrap="nowrap">
<ul class="actions">
   <li>
      <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch enabled">
          <i class="fas fa-check-circle"></i>
      </a>
  </li>
<li>
<a href="javascript:void(0);" title="Decline" class="toggleswitch enabled">
          <i class="fas fa-times-circle"></i></a>
</li>

</ul></td>
</tr>



</tbody></table>
<div class="gap"></div>
<div class="footinfo">


<aside class="grid_1">
<ul class="pagination">
<li class="selected"><a href="javascript:void(0)">1</a></li><li><a href="javascript:void(0)" onclick="listPages(2)">2</a></li>        </ul>
</aside>
<aside class="grid_2"><span class="info">Showing 1 to 15 of 16 entries</span></aside>

</div>
</div>
</div>
