<app-header></app-header>
<div class="fixed-container">

  <div class="row flipcards">
      <ul class="cellgrid">
          <li>
              <div class="container1 sea">
        <div class="flip">
                  <div class="front">
                      <div class="iconbox">
                          <figure class="icon">
                           <i class="fas fa-users"></i>
                          </figure>
                          <span class="value">
                              <span>New buyer/seller</span>
                                   131
                          </span>
                          <div class="areaprogress">
                              <h6>This months plan %
                                  <span>80%</span>

                              </h6>
                              <div class="progress">
                                  <div style="width: 7.63%" role="progressbar" class="progress-bar"></div>
                              </div>
                          </div>
                      </div>

                  </div>
      <div class="back">
          <div class="cell">
              <div class="group">
                          <div class="row">
                              <div class="col-sm-6 ">
                                  <span>Total users</span>131
                              </div>
                              <div class="col-sm-6 ">
                                  <span>This month</span>10
                              </div>
                          </div>
              </div>
              <a href="#" class="themebtn btn-default btn-sm">View Summary</a>
          </div>
      </div>
    </div>
  </div>
          </li>
          
          
           <li>
              <div class="container1 blue">
        <div class="flip">
                  <div class="front">
                      <div class="iconbox">
                          <figure class="icon">
                           <img src="ss.png">
                          </figure>
                          <span class="value">
                              <span>Order Sales</span>
                                   &#x20B9;89.131
                          </span>
                          <div class="areaprogress">
                              <h6>This months plan %
                                  <span>80%</span>

                              </h6>
                              <div class="progress">
                                  <div style="width: 7.63%" role="progressbar" class="progress-bar"></div>
                              </div>
                          </div>
                      </div>

                  </div>
      <div class="back">
          <div class="cell">
              <div class="group">
                          <div class="row">
                              <div class="col-sm-6 ">
                                  <span>Total sales</span>&#x20B9;2344567
                              </div>
                              <div class="col-sm-6 ">
                                  <span>This month</span>&#x20B9;2056
                              </div>
                          </div>
              </div>
              <a href="#" class="themebtn btn-default btn-sm">View Summary</a>
          </div>
      </div>
    </div>
  </div>
          </li>
          
          
          
          <li>
              <div class="container1 purple">
        <div class="flip">
                  <div class="front">
                      <div class="iconbox">
                          <figure class="icon">
                           <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                              <g>
                                                  <path fill="#a48ad4" d="M448,80H64L0,144v16v64c0,35.344,28.688,64,64,64v160c-35.313,0-64,28.656-64,64h512c0-35.344-28.625-64-64-64V288
                                                      c35.375,0,64-28.656,64-64v-64v-16L448,80z M384,224c0,17.656-14.375,32-32,32s-32-14.344-32-32v-64h64V224z M192,224
                                                      c0,17.656-14.344,32-32,32c-17.625,0-32-14.344-32-32v-64h64V224z M224,160h64v64c0,17.656-14.344,32-32,32
                                                      c-17.625,0-32-14.344-32-32V160z M32,224v-64h64v64c0,17.656-14.344,32-32,32C46.375,256,32,241.656,32,224z M96,448V279.125
                                                      c6.063-3.531,11.438-7.938,16-13.188C123.75,279.343,140.813,288,160,288c19.25,0,36.281-8.656,48-22.062
                                                      C219.75,279.343,236.813,288,256,288c11.75,0,22.562-3.375,32-8.875V448H96z M416,448h-96V279.125c9.438,5.5,20.312,8.875,32,8.875
                                                      c19.25,0,36.312-8.656,48-22.062c4.625,5.25,9.938,9.655,16,13.188V448z M480,224c0,17.656-14.375,32-32,32s-32-14.344-32-32v-64
                                                      h64V224z M448,64H64V0h384V64z M368,352c0,8.844-7.125,16-16,16c-8.812,0-16-7.156-16-16s7.188-16,16-16
                                                      C360.875,336,368,343.156,368,352z"></path>
                                              </g>
                                              </svg>
                          </figure>
                          <span class="value">
                              <span>New Shops</span>
                                   131
                          </span>
                          <div class="areaprogress">
                              <h6>This months plan %
                                  <span>80%</span>

                              </h6>
                              <div class="progress">
                                  <div style="width: 7.63%" role="progressbar" class="progress-bar"></div>
                              </div>
                          </div>
                      </div>

                  </div>
      <div class="back">
          <div class="cell">
              <div class="group">
                          <div class="row">
                              <div class="col-sm-6 ">
                                  <span>Total shops</span>15
                              </div>
                              <div class="col-sm-6 ">
                                  <span>This month</span>2
                              </div>
                          </div>
              </div>
              <a href="#" class="themebtn btn-default btn-sm">View Summary</a>
          </div>
      </div>
    </div>
  </div>
          </li>
          
          <li>
              <div class="container1 darkgreen">
        <div class="flip">
                  <div class="front">
                      <div class="iconbox">
                          <figure class="icon">
                           <i class="fas fa-money-check-alt"></i>
                          </figure>
                          <span class="value">
                              <span>Sales Earnings</span>
                                   &#x20B9;789.131
                          </span>
                          <div class="areaprogress">
                              <h6>This months plan %
                                  <span>80%</span>

                              </h6>
                              <div class="progress">
                                  <div style="width: 7.63%" role="progressbar" class="progress-bar"></div>
                              </div>
                          </div>
                      </div>

                  </div>
      <div class="back">
          <div class="cell">
              <div class="group">
                          <div class="row">
                              <div class="col-sm-6 ">
                                  <span>Total profit</span>&#x20B9;2345,89
                              </div>
                              <div class="col-sm-6 ">
                                  <span>This month</span>&#x20B9;234
                              </div>
                          </div>
              </div>
              <a href="#" class="themebtn btn-default btn-sm">View Summary</a>
          </div>
      </div>
    </div>
  </div>
          </li>
          
         
      </ul>
  </div>

 <div class="tablegraph">
<div class="row tablegraphcontent">
  <div class="col">
    <div class="card one">
    <h4>
          <strong>Sales</strong> Statistics</h4>
    <table class="table graphcontent">
  <thead>
      <tr>
          <th></th>
          <th>Total Sales</th>
          <th>Orders</th>
      </tr>
  </thead>
  <tbody>
      <tr class="first">
          <td>Today</td>
          <td>&#x20B9;0.00</td>
          <td>0</td>
      </tr>
      <tr>
          <td>This Week</td>
          <td>&#x20B9;0.00</td>
          <td>0</td>
      </tr>
      <tr>
          <td>This Month</td>
          <td>&#x20B9;0.00</td>
          <td>1</td>
      </tr>
      <tr>
          <td>Last 3 Months</td>
          <td>&#x20B9;0.00</td>
          <td>0</td>
      </tr>
      <tr>
          <td>Total</td>
          <td>&#x20B9;285,321.00</td>
          <td>140</td>
      </tr>
  </tbody>
</table>
    </div>
  </div>
  <div class="col">
    <div class="card two">

  <div class="paneltop">
      <h4>
          <strong>Conversions</strong> Statistics</h4>
  </div>
  <ul class="horizontal_gridsthird ">
      <li>
          <span>Added to cart</span>50.77 %
      </li>
      <li>
          <span>Reached Checkout</span>24 %
      </li>
      <li>
          <span>Purchased</span>12 %
      </li>
      <li>
          <span>Cancelled</span>2 %
      </li>
  </ul>

  <div class="graphcontainer" id="conversionStats">
      <div style="position: relative;">
          <div dir="ltr" style="position: relative; width: 555px; height: 240px;">
              <div aria-label="A chart." style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;">
                  <svg width="555" height="240" aria-label="A chart." style="overflow: hidden;">
                      <defs id="defs">
                          <clipPath id="_ABSTRACT_RENDERER_ID_6">
                              <rect x="85" y="46" width="385" height="148"></rect>
                          </clipPath>
                      </defs>
                      <rect x="0" y="0" width="555" height="240" stroke="none" stroke-width="0" fill="#ffffff"></rect>
                      <g>
                          <rect x="85" y="46" width="385" height="148" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect>
                          <g clip-path="url(https://demo.yo-kart.com/manager/home/#_ABSTRACT_RENDERER_ID_6)">
                              <g>
                                  <rect x="85" y="193" width="385" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect>
                                  <rect x="85" y="156" width="385" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect>
                                  <rect x="85" y="120" width="385" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect>
                                  <rect x="85" y="83" width="385" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect>
                                  <rect x="85" y="46" width="385" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect>
                              </g>
                              <g>
                                  <rect x="104" y="73" width="59" height="120" stroke="#1ec785" stroke-width="1" fill="#1ec785"></rect>
                                  <rect x="200" y="137" width="59" height="56" stroke="#1ec785" stroke-width="1"
                                      fill="#1ec785"></rect>
                                  <rect x="296" y="165" width="59" height="28" stroke="#1ec785" stroke-width="1"
                                      fill="#1ec785"></rect>
                                  <rect x="392" y="188" width="59" height="5" stroke="#1ec785" stroke-width="1"
                                      fill="#1ec785"></rect>
                              </g>
                              <g>
                                  <rect x="85" y="193" width="385" height="1" stroke="none" stroke-width="0" fill="#333333"></rect>
                              </g>
                          </g>
                          <g></g>
                          <g>
                              <g>
                                  <text text-anchor="middle" x="133.5" y="211.2" font-family="Arial" font-size="12" stroke="none"
                                      stroke-width="0" fill="#222222">Added To Cart</text>
                              </g>
                              <g>
                                  <text text-anchor="middle" x="229.5" y="211.2" font-family="Arial" font-size="12" stroke="none"
                                      stroke-width="0" fill="#222222">Reached</text>
                                  <text text-anchor="middle" x="229.5" y="227.2" font-family="Arial" font-size="12"
                                      stroke="none" stroke-width="0" fill="#222222">Checkout</text>
                              </g>
                              <g>
                                  <text text-anchor="middle" x="325.5" y="211.2" font-family="Arial" font-size="12" stroke="none"
                                      stroke-width="0" fill="#222222">Purchased</text>
                              </g>
                              <g>
                                  <text text-anchor="middle" x="421.5" y="211.2" font-family="Arial" font-size="12" stroke="none"
                                      stroke-width="0" fill="#222222">Cancelled</text>
                              </g>
                              <g>
                                  <text text-anchor="end" x="73" y="197.7" font-family="Arial" font-size="12" stroke="none"
                                      stroke-width="0" fill="#444444">0</text>
                              </g>
                              <g>
                                  <text text-anchor="end" x="73" y="160.95" font-family="Arial" font-size="12" stroke="none"
                                      stroke-width="0" fill="#444444">20</text>
                              </g>
                              <g>
                                  <text text-anchor="end" x="73" y="124.2" font-family="Arial" font-size="12" stroke="none"
                                      stroke-width="0" fill="#444444">40</text>
                              </g>
                              <g>
                                  <text text-anchor="end" x="73" y="87.45" font-family="Arial" font-size="12" stroke="none"
                                      stroke-width="0" fill="#444444">60</text>
                              </g>
                              <g>
                                  <text text-anchor="end" x="73" y="50.7" font-family="Arial" font-size="12" stroke="none"
                                      stroke-width="0" fill="#444444">80</text>
                              </g>
                          </g>
                      </g>
                      <g></g>
                  </svg>
                  <div aria-label="A tabular representation of the data in the chart." style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;">
                      <table>
                          <thead>
                              <tr>
                                  <th>Type</th>
                                  <th>user</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Added To Cart</td>
                                  <td>66</td>
                              </tr>
                              <tr>
                                  <td>Reached Checkout</td>
                                  <td>31</td>
                              </tr>
                              <tr>
                                  <td>Purchased</td>
                                  <td>16</td>
                              </tr>
                              <tr>
                                  <td>Cancelled</td>
                                  <td>3</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <div aria-hidden="true" style="display: none; position: absolute; top: 250px; left: 565px; white-space: nowrap; font-family: Arial; font-size: 12px; font-weight: bold;">31</div>
          <div></div>
      </div>
  </div>

    </div>
  </div>
</div>



<div class="row">
  <div class="col">
    <div class="card">
    <div class="paneltop">
  <h4>
      <strong>top </strong> Products</h4>
</div>

<ul class="bulletlist org topProducts">
  <li>Lenovo Laptop
      <span class="count">8 sold</span>
  </li>
  <li>Maybelline The Hyper Curl Volum Express Hypercurl Mascara Washable (001),
      <span class="count">4 sold</span>
  </li>
  <li>Sony PlayStation 4 Camera
      <span class="count">3 sold</span>
  </li>
  <li>Bleach Wash Jean
      <span class="count">2 sold</span>
  </li>
  <li>Sony Xperia™
      <span class="count">2 sold</span>
  </li>
  <li>Neavy Suit
      <span class="count">2 sold</span>
  </li>
  <li>Blue Slimfitt Jeans
      <span class="count">2 sold</span>
  </li>
  <li>Davidoff Coolwater Men Eau de Toilette
      <span class="count">2 sold</span>
  </li>
  <li>Allen solly shoes
      <span class="count">1 sold</span>
  </li>
  <li>Casual shoes
      <span class="count">1 sold</span>
  </li>
  <li>Sony W800/B 20.1 MP Digital Camera
      <span class="count">1 sold</span>
  </li>
</ul>
    </div>
  </div>

  
  </div>
  <div class="row">
  <div class="col">
    <div class="card">
    <div class="sectionhead">
  <h4>Latest 5 Orders </h4>
  <!--<a href="" class="themebtn btn-default btn-sm">View All</a>-->

</div>
<div class="sectionbody">
  <div class="tablewrap">
      <table class="table">
          <thead>
              <tr>
                  <th width="2%">#</th>
                  <th width="15%">INV</th>
                  <th width="15%">Customer</th>
                  <th width="15%">Date</th>
                  <th width="15%">Amount</th>
                  <th width="15%">Payment Status</th>
                  <th width="8%"></th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>1</td>
                  <td>180716-0000800</td>
                  <td>Maxixx</td>
                  <td>Jul 16, 2018 16:25</td>
                  <td>&#x20B9;83.25</td>
                  <td>
                      <span class="label label-info">
                          Pending</span>
                  </td>
                  <td>
                      <ul class="actions">
                          <li>
                             <!--  <a [routerLink]="['/view-order',293]" title="View Order">
                                  <i class="fas fa-eye"></i>
                              </a> -->
                          </li>
                      </ul>
                  </td>
              </tr>
              <tr>
                  <td>2</td>
                  <td>180716-0000799</td>
                  <td>Maxixx</td>
                  <td>Jul 16, 2018 04:02</td>
                  <td>&#x20B9;57.00</td>
                  <td>
                      <span class="label label-info">
                          Pending</span>
                  </td>
                  <td>
                      <ul class="actions">
                          <li>
                              <!-- <a [routerLink]="['/view-order',292]" title="View Order">
                                  <i class="fas fa-eye"></i>
                              </a> -->
                          </li>
                      </ul>
                  </td>
              </tr>
              <tr>
                  <td>3</td>
                  <td>180713-0000798</td>
                  <td>Maxixx</td>
                  <td>Jul 13, 2018 18:41</td>
                  <td>&#x20B9;55.50</td>
                  <td>
                      <span class="label label-info">
                          Pending</span>
                  </td>
                  <td>
                      <ul class="actions">
                          <li>
                             <!--  <a [routerLink]="['/view-order',291]" title="View Order">
                                  <i class="fas fa-eye"></i>
                              </a> -->
                          </li>
                      </ul>
                  </td>
              </tr>
              <tr>
                  <td>4</td>
                  <td>180713-0000797</td>
                  <td>Maxixx</td>
                  <td>Jul 13, 2018 18:36</td>
                  <td>&#x20B9;81.75</td>
                  <td>
                      <span class="label label-info">
                          Pending</span>
                  </td>
                  <td>
                      <ul class="actions">
                          <li>
                              <!-- <a [routerLink]="['/view-order',290]" title="View Order">
                                  <i class="fas fa-eye"></i>
                              </a> -->
                          </li>
                      </ul>
                  </td>
              </tr>
              <tr>
                  <td>5</td>
                  <td>180102-0000796</td>
                  <td>Maxixx</td>
                  <td>Jan 02, 2018 18:02</td>
                  <td>&#x20B9;43.60</td>
                  <td>
                      <span class="label label-success">
                          Paid</span>
                  </td>
                  <td>
                      <ul class="actions">
                          <li>
                              <!-- <a [routerLink]="['/view-order',289]" title="View Order">
                                  <i class="fas fa-eye"></i>
                              </a> -->
                          </li>
                      </ul>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
    </div>
  </div>
</div>
</div>

</div>
