<div class="container login">

    <div class="backdrop" [ngStyle]="{'display':display}"></div>
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    
                    <h2 class="modal-title">Forget Password</h2>
                    <button type="button" class="close btn-close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body clearfix">
                    <form *ngIf="!cModal" #forgetPwd="ngForm" (ngSubmit)="forgetPwdForm(forgetPwd.value)">
                        <p class="before-login-text">

                        </p>
                        <p class="form-row form-row-wide" [class.has-error]="femailcontrol.invalid && femailcontrol.touched">
                            <label for="freg_email">Email address<span class="required">* </span></label>
                            <input type="text" required class="form-control input-text" name="femail" [(ngModel)]="femail" id="freg_email" value="" #femailcontrol="ngModel"
                            />
                            <span class="help-desk validation-error" *ngIf="femailcontrol.invalid && femailcontrol.touched"> Username
                                or Email is Required.</span>
                        </p>
                        <p class="form-row form-btn">
                            <button type="submit" [disabled]="!forgetPwd.form.valid" class="btn btn-success">Submit</button>
                            <!-- <label for="CloseModal" class="inline">
                                <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
                            </label> -->
                        </p>
                    </form>

                   <!--  <form *ngIf="cModal" #updatePassword="ngForm" (ngSubmit)="updatePasswordForm(updatePassword.value)">
                        <p class="before-login-text">

                        </p>
                        <p class="form-row form-row-wide">
                            <input type="hidden" name="femail" [(ngModel)]="femail" id="freg_email" />
                            <label for="freg_code">Confirmation Code
                                <span class="required">*</span></label>
                            <input type="text" required class="input-text" name="code" [(ngModel)]="code" id="freg_code" value="" ngModel />
                            <label for="freg_password">New Password
                                <span class="required">*</span></label>
                            <input type="password" required class="input-text" name="password" [(ngModel)]="password" id="freg_password" value="" ngModel
                            />
                        </p>
                        <p class="form-row form-btn">
                            <button type="submit" [disabled]="!updatePassword.form.valid" class="btn btn-success">Submit</button>
                            <label for="CloseModal" class="inline">
                                <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
                            </label>
                        </p>
                        <p class="confirmation-recieve">Haven't received Confirmation code? <a (click)="cModalNull()">Click
                                Here</a></p>
                    </form> -->
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

  <div class="row">
    <aside class="col-sm-12">
      <div class="card">
        <h3>Login</h3>
        <article class="card-body">
          <h4 class="card-title mb-4 mt-1">Sign in</h4>
          <form #login="ngForm" (ngSubmit)="doLogin(login.value)">
            <div class="form-group">
              <label>Your email</label>
              <input class="form-control" placeholder="Email" type="email" required name="lemail" [(ngModel)]="lemail" id="lreg_email" value="" #lemailcontrol="ngModel"
              />
              <span class="help-desk validation-error" *ngIf="lemailcontrol.invalid && lemailcontrol.touched"> Email is Required.</span>
            </div>
            <div class="form-group">
              <a class="float-right" (click)="openModal()">Forgot?</a>
              <label>Your password</label>
              <input  class="form-control" placeholder="******" type="password" required name="lpassword" [(ngModel)]="lpassword" id="lpassword" value="" #lpasswordcontrol="ngModel"
                  />
                  <span class="help-desk validation-error" *ngIf="lpasswordcontrol.invalid && lpasswordcontrol.touched"> Password
                      is Required.</span>
            </div>
           
            <div class="form-group">
              <div class="checkbox">
                <label> <input type="checkbox" /> Remember me </label>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">
                Login
              </button>
            </div>
          </form>


        </article>
      </div>
      <!-- card.// -->
    </aside>
    <!-- col.// -->
  </div>
  <!-- row.// -->
</div>
<!-- container end.// -->
