<app-header></app-header>
<div class="card">
  <div class="sectionhead">
      <h4>Manage Sellers</h4>
    <ul class="breadcrumb">
        <li><a routerLink="/dashboard">Home</a></li>
        <li><a href="0">Manage Sellers</a></li>
    </ul>
    <button class="btn btn-primary" style="float: right;" data-toggle="modal" data-target="#addbuyerseller_modal" data-backdrop="static" data-keyboard="false">Add Seller</button> 
  </div>
<div class="sectionbody" id="users-list" *ngIf="showSellers">
  
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
        <thead>
            <tr>
                <th width="20%">User Details</th>
                <th width="15%">User Type</th>
                <!-- <th width="15%">Added On</th> -->
                <th width="15%">Status</th>
                <th width ="15%" nowrap="nowrap">Email Verified</th>
                <th width ="20%">Action</th>
                <th width="15%">View Profile</th>    
            </tr>
        </thead>
        <tbody *ngFor="let seller of allSellers; let i = index;">     
            <tr style="color:#AAAAAA" *ngIf="seller.isBlocked == true">
                <td><strong>N</strong>: {{seller.name}} <br>
                    <strong>P</strong>: {{seller.phone}} <br>
                    <strong>E</strong>: {{seller.email}}
                </td>
                <td nowrap="nowrap">Seller</td>
                <!-- <td nowrap="nowrap">Oct 04, 2017</td> -->
                <td>In-Active</td>
                <td *ngIf="seller.isConfirmed == true"><span class="label label-success">Verified</span></td>
                <td *ngIf="seller.isConfirmed == false"><span class="label label-danger">Not-Verified</span></td>
                <td nowrap="nowrap">
                    <ul class="actions">
                        <!-- <li>
                            <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch disabled">
                                <i class="fas fa-check-circle" (click)="enableSeller(seller._id)"></i>
                            </a>
                        </li>  -->
                        <li>
                            <a title="Edit" (click)="getSellerDetails(seller._id)">
                                <i class="fas fa-edit" data-toggle="modal" data-target="#editbuyerseller_modal" data-backdrop="static" data-keyboard="false"></i>
                            </a>
                        </li>
                        <li>
                            <a title="Delete" href="javascript:void(0);">
                                <i class="fas fa-trash-alt" (click)="deleteSeller(seller._id)"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" title="Click to unblock" class="toggleswitch disabled">
                                <i class="fas fa-ban" (click)="enableSeller(seller._id)"></i>
                            </a>
                        </li>
                    </ul>
                </td>

                <td class="viewprofile">
                    <a>
                        <i class="fas fa-user-alt" [routerLink]="['/seller',seller._id]"></i>
                    </a>
                </td>

            </tr>
            <tr *ngIf="seller.isBlocked == false">
                <td><strong>N</strong>: {{seller.name}} <br>
                    <strong>P</strong>: {{seller.phone}} <br>
                    <strong>E</strong>: {{seller.email}}
                </td>
                <td nowrap="nowrap">Seller</td>
                <!-- <td nowrap="nowrap">Mar 28, 2017</td> -->
                <td>Active</td>
                <td *ngIf="seller.isConfirmed == true"><span class="label label-success">Verified</span></td>
                <td *ngIf="seller.isConfirmed == false"><span class="label label-danger">Not-Verified</span></td>
                <td nowrap="nowrap">
                    <ul class="actions">
                        <!-- <li>
                            <a href="javascript:void(0);" title="Click to Disable" class="toggleswitch enabled">
                                <i class="fas fa-check-circle"></i>
                        </a>
                    </li>  -->
                    <li>
                        <a title="Edit" (click)="getSellerDetails(seller._id)">
                            <i class="fas fa-edit" data-toggle="modal" data-target="#editbuyerseller_modal" data-backdrop="static" data-keyboard="false"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Delete" href="javascript:void(0);" (click)="deleteSeller(seller._id)">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" title="Click to block" class="toggleswitch enabled">
                            <i class="fas fa-ban" (click)="disableSeller(seller._id)"></i>
                        </a>
                    </li>
                </ul>
            </td>
            <td class="viewprofile"> <a>
                <i class="fas fa-user-alt" [routerLink]="['/seller',seller._id]"></i>
            </a>
            </td>
           </tr>

        </tbody>
    </table>
<div class="gap"></div>
<div class="footinfo">
Page No. 
<aside class="grid_1">
<ul class="pagination">
<li class="selected"><a href="javascript:void(0)">{{pageNum}}</a></li>
</ul>
</aside>
<aside class="grid_2"><span class="info"><i class="fa fa-arrow-left" (click)="previous()"></i></span></aside>&nbsp;
<aside class="grid_2"><span class="info"><i class="fa fa-arrow-right" (click)="next()"></i></span></aside>

</div>
</div>

<div class="sectionbody" *ngIf=!showSellers>
        <h3>Sellers's List is Empty !</h3>
    </div>

</div>


<div id="editbuyerseller_modal" class="modal fade">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<b>EDIT SELLER DETAILS</b>
<button class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
    <form #updateBuyer="ngForm">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="Full Name" [(ngModel)]="name"
                #nameEle="ngModel" autofocus
                required minlength="3">
            <span class='text-danger' *ngIf="nameEle.touched && nameEle.errors && nameEle.errors.required">*
                Please Enter Valid Name</span>
                </div>
                <!-- <div class="form-group">
                <label for="name">User Name</label>
                <input type="text"  name="name" class="form-control" placeholder="User Name">
                </div> -->
                <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Email" [(ngModel)]="email"
                #emailEle="ngModel"
                required minlength="3">
            <span class='text-danger' *ngIf="emailEle.touched && emailEle.errors && emailEle.errors.required">*
                Please Enter Valid Email</span>
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="text"  name="phone" id="phone" class="form-control" placeholder="Phone Number" [(ngModel)]="phone"
                    #phoneEle="ngModel"
                    required minlength="3">
                <span class='text-danger' *ngIf="phoneEle.touched && phoneEle.errors && phoneEle.errors.required">*
                    Please Enter Valid Phone Number</span>
                    </div>
        <!-- <div class="form-group">
        <label for="text">User Type</label>
        <select class="form-control">
            <option>Buyer</option>
            <option>Seller</option>
        </select>
        </div>
        <div class="form-group">
        <label for="text">Added On</label>
        <input type="date"  class="form-control">
        </div>
        <div class="form-group">
        
         <input type="radio" name="first" value="Enable" id="enable"><label>Active</label><br>
         
         <input type="radio" name="first" value="Disable" id="disable" checked><label>Inactive</label>
        </div>
        <div class="form-group">
        
         <input type="radio" name="second" value="Enable" id="enable"><label>Email Verified</label><br>
        
        </div> -->
        <div class="form-group">
        <input type="submit" [disabled]="!updateBuyer.form.valid" id="updatebuyer" name="updatebuyer"
        (click)="updateSellerDetails()" class="btn btn-primary btn-block" data-dismiss="modal">
        </div>
        </form>	
</div>
<!-- <div class="modal-footer">
<button  class="btn btn-default"  data-dismiss="modal">close</button> 
</div> -->
</div>
</div>
</div>

<div id="addbuyerseller_modal" class="modal fade">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<b>ADD SELLER</b>
<button class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
<form #addBuyer="ngForm">
    <div class="form-group">
        <label for="aname">Name</label>
        <input type="text" name="aname" id="aname" class="form-control" placeholder="Full Name" [(ngModel)]="aname"
        #nameEle="ngModel" autofocus
        required minlength="3">
    <span class='text-danger' *ngIf="nameEle.touched && nameEle.errors && nameEle.errors.required">*
        Please Enter Valid Name</span>
        </div>
        <!-- <div class="form-group">
        <label for="name">User Name</label>
        <input type="text"  name="name" class="form-control" placeholder="User Name">
        </div> -->
        <div class="form-group">
        <label for="aemail">Email address</label>
        <input type="email" id="aemail" name="aemail" class="form-control" placeholder="Email" [(ngModel)]="aemail"
        #emailEle="ngModel"
        required minlength="3">
    <span class='text-danger' *ngIf="emailEle.touched && emailEle.errors && emailEle.errors.required">*
        Please Enter Valid Email</span>
        </div>
        <div class="form-group">
            <label for="aphone">Phone Number</label>
            <input type="text"  name="aphone" id="aphone" class="form-control" placeholder="Phone Number" [(ngModel)]="aphone"
            #phoneEle="ngModel"
            required minlength="3">
        <span class='text-danger' *ngIf="phoneEle.touched && phoneEle.errors && phoneEle.errors.required">*
            Please Enter Valid Phone Number</span>
            </div>
<!-- <div class="form-group">
<label for="text">User Type</label>
<select class="form-control">
    <option>Buyer</option>
    <option>Seller</option>
</select>
</div>
<div class="form-group">
<label for="text">Added On</label>
<input type="date"  class="form-control">
</div>
<div class="form-group">

 <input type="radio" name="first" value="Enable" id="enable"><label>Active</label><br>
 
 <input type="radio" name="first" value="Disable" id="disable" checked><label>Inactive</label>
</div>
<div class="form-group">

 <input type="radio" name="second" value="Enable" id="enable"><label>Email Verified</label><br>

</div> -->
<div class="form-group">
<input type="submit" id="addbuyer" name="addbuyer" [disabled]="!addBuyer.form.valid" (click)="addNewSeller()" class="btn btn-primary btn-block" data-dismiss="modal">
</div>
</form>								</div>
<!-- <div class="modal-footer">
<button  class="btn btn-default"  data-dismiss="modal">close</button> 
</div> -->
</div>
</div>
</div>

<!-- <div id="viewbuyerseller_modal" class="modal fade">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<b>SELLER DETAILS</b>
<button class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
<form #viewBuyer="ngForm">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="form-control" disabled="disabled" placeholder="Full Name" [(ngModel)]="seller.name"
        #nameEle="ngModel" autofocus
        required minlength="3">
    <span class='text-danger' *ngIf="nameEle.touched && nameEle.errors && nameEle.errors.required">*
        Please Enter Valid Name</span>
        </div>
       
        <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" id="email" name="email" class="form-control" disabled="disabled" placeholder="Email" [(ngModel)]="seller.email"
        #emailEle="ngModel"
        required minlength="3">
    <span class='text-danger' *ngIf="emailEle.touched && emailEle.errors && emailEle.errors.required">*
        Please Enter Valid Email</span>
        </div>
        <div class="form-group">
            <label for="name">Phone Number</label>
            <input type="text"  name="phone" id="phone" class="form-control" disabled="disabled" placeholder="Phone Number" [(ngModel)]="seller.phone"
            #phoneEle="ngModel"
            required minlength="3">
        <span class='text-danger' *ngIf="phoneEle.touched && phoneEle.errors && phoneEle.errors.required">*
            Please Enter Valid Phone Number</span>
            </div>

</form>								
</div>

</div>
</div>
</div> -->
