<app-header></app-header>
<div class="row">
  <div class="col">
    <div class="editshop ">
      <div class="sectionbody" id="categories-list">
        <!--
          <form name="paginateForm" id="paginateForm" action="" method="post">
            <input type="hidden" name="keyword" value="" /><input
              type="hidden"
              name="status"
              value=""
            /><input type="hidden" name="btn_submit" value="Search" /><input
              type="hidden"
              name="btn_cancel"
              value="Clear Search"
            /><input type="hidden" name="mode" value="search" /><input
              type="hidden"
              name="page"
              value="1"
            /><input type="hidden" name="parent" value="0" />
          </form>
        -->
        <div class="sectionhead">
          <h4>CATEGORY SETUP</h4>

          <div class="clear"></div>
          <ul class="breadcrumb">
            <li><a routerLink="/dashboard">Home</a></li>
            <li><a routerLink="/categories">Product Categories</a></li>
            <li><a>Add Category</a></li>
          </ul>

          <div class="shop">
            <form #categoryForm="ngForm">
              <table
                style="width: 100%"
                border="0"
                cellspacing="0"
                cellpadding="0"
                class="table-edit-shop"
              >
                <tbody>
                  <tr>
                    <td width="25%" colspan="2">
                      <h6>Basic Information</h6>
                      <br />
                    </td>
                  </tr>
                  <tr>
                    <td>Category Name<span class="star">*</span></td>
                    <td>
                      <input
                        type="text"
                        placeholder="Category"
                        [(ngModel)]="name"
                        id="name"
                        name="name"
                        #nameEle="ngModel"
                        autofocus
                        required
                        minlength="3"
                      />
                      <span
                        class="text-danger"
                        *ngIf="
                          nameEle.touched &&
                          nameEle.errors &&
                          nameEle.errors.required
                        "
                        >* Please Enter Valid Category Name</span
                      >
                    </td>
                  </tr>
                  <!--
                    <tr>
                      <td>Description<span class="star">*</span></td>
                      <td><textarea></textarea></td>
                    </tr>
                    <tr>
                      <td>Category Image<span class="star">*</span></td>
                      <td><input type="file" /></td>
                    </tr>
                    <tr>
                      <td>Category Parent<span class="star">*</span></td>
                      <td><input type="text" /></td>
                    </tr>
                  -->
                  <tr *ngIf="subCatArray.length > 0">
                    <td>Subcategories<span class="star"></span></td>
                    <td>
                      <tr *ngFor="let subCat of subCatArray; let i = index">
                        <td>
                          <input
                            disabled="disabled"
                            type="text"
                            value="{{subCat}}"
                          />
                        </td>
                        <td>
                          <i
                            class="fas fa-trash-alt"
                            (click)="deleteSubCat(i)"
                          ></i>
                        </td>
                      </tr>
                    </td>
                  </tr>
                  <tr>
                    <!-- <td>Subcategories<span class="star"></span></td> -->
                    <td>Subcategory Name<span class="star"></span></td>
                    <td>
                      <tr>
                        <td>
                          <input
                            type="text"
                            [(ngModel)]="newSubCat"
                            id="newSubCat"
                            name="newSubCat"
                            placeholder="Subcategory"
                            #newSubCatEle="ngModel"
                          />
                        </td>
                        <td>
                          <i class="fas fa-plus" (click)="addSubCat()"></i>
                        </td>
                      </tr>
                    </td>
                  </tr>
                  <tr>
                    <td><span class="star"></span></td>
                    <td>
                      Click on "+" icon to add the subcategory before clicking
                      the Submit button.
                    </td>
                  </tr>
                  <!--
                    <tr>
                      <td width="25%" colspan="2">
                        <h6>SEO/Meta Data</h6>
                        <br />
                      </td>
                    </tr>
                    <tr>
                      <td>Page Title<span class="star">*</span></td>
                      <td><input type="text" /></td>
                    </tr>
                    <tr>
                      <td>Meta Keywords<span class="star">*</span></td>
                      <td><textarea></textarea></td>
                    </tr>
                    <tr>
                      <td>Meta Description<span class="star">*</span></td>
                      <td><textarea></textarea></td>
                    </tr>
                  -->
                  <tr>
                    <td><span class="star"></span></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                        type="submit"
                        class="btn btn-primary"
                        (click)="addCategory()"
                        [disabled]="!categoryForm.form.valid"
                        value="Submit"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
