<div class="profile">
      
  <ul class="breadcrumb">
                <li><a routerLink="/dashboard">Home</a></li>
                <li><a routerLink="/buyer-seller">Manage Buyers and Sellers</a></li>
                 <li><a routerLink="/profile">Edit Buyer Seller</a></li>
            </ul>
   <div class="container">
        <div class="tabs">
<input type="radio" name="tab" id="tab1" checked="checked">
<label  for="tab1" class="tabb">Personal Info</label>
<input type="radio" name="tab" id="tab2">
<label for="tab2" class="tabb">Bank Info</label>
<input type="radio" name="tab" id="tab3">
<label for="tab3" class="tabb">Rewards</label>
<input type="radio" name="tab" id="tab4">
<label for="tab4" class="tabb">Change Password</label>
<input type="radio" name="tab" id="tab5">
<label for="tab5" class="tabb">Send email</label>

<div class="tab-content-wrapper editform">
  <div id="tab-content-1" class="tab-content ">
    <table style="width: 100%" border="0" cellspacing="0" cellpadding="0" class="table-form-horizontal">

                <tbody>
                    <tr>
                        <td >User name<span class="star">*</span></td>
                                        <td><input type="text" class="edit" placeholder="Name"></td>
                    </tr>
                    <tr>
                        <td>Email address<span class="star">*</span></td>
                                        <td><input type="text" class="edit" placeholder="Email"></td>
                    </tr>
                    <tr>
                        <td>Phone Number<span class="star">*</span></td>
                                        <td><input type="text" class="edit" placeholder="Phone no"></td>
                    </tr>
                    <tr>
                        <td>City Town</td>
                                        <td><input type="text" class="edit" placeholder="Name"></td>
                    </tr>
                    <tr>
                        <td>Country</td>
                                        <td><select>
                                                <option>India</option>
                                                <option>India</option>
                                            <option>India</option>
                                            <option>India</option>
                                            <option>India</option>
                                            </select>
                                        </td>
                    </tr>
                    <tr>
                        <td >State</td>
                                        <td><select>
                                                <option>India</option>
                                                <option>India</option>
                                            <option>India</option>
                                            <option>India</option>
                                            <option>India</option>
                                            </select></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                                        <td><input type="submit" class="btn btn-primary" value="Save changes"></td>
                    </tr>
                </tbody>
            </table>
    
    
  </div>
  <div id="tab-content-2" class="tab-content">
    
    <table style="width: 100%" border="0" cellspacing="0" cellpadding="0" class="table-form-horizontal">

                <tbody>
                    <tr>
                        <td >Bank Name<span class="star">*</span></td>
                                        <td><input type="text" class="edit"></td>
                    </tr>
                    <tr>
                        <td>Account holder name<span class="star">*</span></td>
                                        <td><input type="text" class="edit"></td>
                    </tr>
                    <tr>
                        <td>Bank account number<span class="star">*</span></td>
                                        <td><input type="text" class="edit"></td>
                    </tr>
                    <tr>
                        <td>IFSC code/Swift code</td>
                                        <td><input type="text" class="edit"></td>
                    </tr>
                    <tr>
                        <td>Bank Address<span class="star">*</span></td>
                                        <td><textarea></textarea>
                                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                                        <td><input type="submit" class="btn btn-primary" value="Save changes"></td>
                    </tr>
                </tbody>
            </table>
    
    
  </div>
    <div id="tab-content-3" class="tab-content">
        
        <table class="datatable table-listing">
            <thead>
                <tr>
                <th width="10%">Points</th>
                <th width="60%">Description</th>
                <th width="15%">Added Date</th>
                <th width="15%">Expiry Date</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4">No record Flound</td>
                </tr>
            </tbody>
            
        </table>
        <div class="gap"></div>
        <form method="post">
            <table style="width: 100%" border="0" cellspacing="0" cellpadding="0" class="table-form-horizontal">

                <tbody>
                    <tr>
                        <td>Points<span class="star">*</span></td>
                                        <td><input type="text" class="rewards" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Description<span class="star">*</span></td>
                                        <td><textarea class="rewards"></textarea>     

                    </tr>
                    <tr>
                        <td>Validity</td>
                                        <td><input type="text" class="rewards"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                                        <td><input type="submit" class="btn btn-primary" value="Save changes"></td>
                    </tr>
                </tbody>
            </table>
    
        </form>
        
    </div>
    <div id="tab-content-4" class="tab-content">
        <table style="width: 100%" border="0" cellspacing="0" cellpadding="0" class="table-form-horizontal">

                <tbody>
                    <tr>
                        <td>New Password<span class="star">*</span></td>
                                        <td><input type="text" class="edit" required></td>
                    </tr>
                    <tr>
                        <td>Confirm Password<span class="star">*</span></td>
                                        <td><input type="text" class="edit" required></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                                        <td><input type="submit" class="btn btn-primary" value="Save changes"></td>
                    </tr>
                </tbody>
            </table>
    
        
    </div>
    <div id="tab-content-5" class="tab-content">
        <table style="width: 100%" border="0" cellspacing="0" cellpadding="0" class="table-form-horizontal">

                <tbody>
                    <tr>
                        <td>Mail Subject<span class="star">*</span></td>
                                        <td><input type="text" class="edit" required></td>
                    </tr>
                    <tr>
                        <td>Message<span class="star">*</span></td>
                                        <td><textarea></textarea></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                                        <td><input type="submit" class="btn btn-primary" value="Send Email"></td>
                    </tr>
                </tbody>
            </table>
    
        
    </div>
    
</div>
</div>


   </div>

</div>
