<app-header></app-header>
<div class="profile">
      
  <ul class="breadcrumb">
                <li><a routerLink="/dashboard">Home</a></li>
                <li><a routerLink="/buyers">Manage Buyers</a></li>
                 <li><a>Buyer Details</a></li>
            </ul>
   <div class="container">
        <div class="tabs">
<input type="radio" name="tab" id="tab1" checked="checked">
<label  for="tab1" class="tabb">Personal Info</label>
<input type="radio" name="tab" id="tab2">
<label for="tab2" class="tabb">Orders Info</label>
<!-- <input type="radio" name="tab" id="tab3">
<label for="tab3" class="tabb">Rewards</label>
<input type="radio" name="tab" id="tab4">
<label for="tab4" class="tabb">Change Password</label>
<input type="radio" name="tab" id="tab5">
<label for="tab5" class="tabb">Send email</label> -->


<!-- <div id="viewbuyerseller_modal" class="modal fade">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <b>BUYER DETAILS</b>
    <button class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
    <form #viewBuyer="ngForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" disabled="disabled" placeholder="Full Name" [(ngModel)]="buyer.name"
            #nameEle="ngModel" autofocus
            required minlength="3">
        <span class='text-danger' *ngIf="nameEle.touched && nameEle.errors && nameEle.errors.required">*
            Please Enter Valid Name</span>
            </div>
            <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" id="email" name="email" class="form-control" disabled="disabled" placeholder="Email" [(ngModel)]="buyer.email"
            #emailEle="ngModel"
            required minlength="3">
        <span class='text-danger' *ngIf="emailEle.touched && emailEle.errors && emailEle.errors.required">*
            Please Enter Valid Email</span>
            </div>
            <div class="form-group">
                <label for="name">Phone Number</label>
                <input type="text"  name="phone" id="phone" class="form-control" disabled="disabled" placeholder="Phone Number" [(ngModel)]="buyer.phone"
                #phoneEle="ngModel"
                required minlength="3">
            <span class='text-danger' *ngIf="phoneEle.touched && phoneEle.errors && phoneEle.errors.required">*
                Please Enter Valid Phone Number</span>
                </div>
    </form>								
</div>
    </div>
    </div>
    </div> -->


<div class="tab-content-wrapper editform">
  <div id="tab-content-1" class="tab-content ">
    <table style="width: 100%" border="0" cellspacing="0" cellpadding="0" class="table-form-horizontal">

                <tbody>
                    <tr>
                        <td >Name<span class="star">*</span></td>
                                        <td><input type="text" name="bName" id="bName" class="form-control" disabled="disabled" placeholder="Full Name" [(ngModel)]="bName"
                                            #nameEle="ngModel"
                                            required minlength="3"></td>
                    </tr>
                    <tr>
                        <td>Email address<span class="star">*</span></td>
                                        <td><input type="email" id="bEmail" name="bEmail" class="form-control" disabled="disabled" placeholder="Email" [(ngModel)]="bEmail"
                                            #emailEle="ngModel"
                                            required minlength="3"></td>
                    </tr>
                    <tr>
                        <td>Phone Number<span class="star">*</span></td>
                                        <td><input type="text"  name="bPhone" id="bPhone" class="form-control" disabled="disabled" placeholder="Phone Number" [(ngModel)]="bPhone"
                                            #phoneEle="ngModel"
                                            required minlength="3"></td>
                    </tr>
                    <!-- <tr>
                        <td>City Town</td>
                                        <td><input type="text" class="edit" placeholder="Name"></td>
                    </tr>
                    <tr>
                        <td>Country</td>
                                        <td><select>
                                                <option>India</option>
                                                <option>India</option>
                                            <option>India</option>
                                            <option>India</option>
                                            <option>India</option>
                                            </select>
                                        </td>
                    </tr>
                    <tr>
                        <td >State</td>
                                        <td><select>
                                                <option>India</option>
                                                <option>India</option>
                                            <option>India</option>
                                            <option>India</option>
                                            <option>India</option>
                                            </select></td>
                    </tr> -->
                    <tr>
                        <td>&nbsp;</td>
                                        <!-- <td><input type="submit" class="btn btn-primary" value="Save changes"></td> -->
                    </tr>
                </tbody>
            </table>
    
    
  </div>
  <div id="tab-content-2" class="tab-content">
    
    <div class="panel panel-default" *ngIf="showOrders">
        <header class="entry-header">
            <h1 itemprop="name" class="entry-title">All Orders</h1>
        </header>
      <div class="panel-body" *ngFor="let order of allOrders">
       <strong> Order Id : </strong>{{order._id}}<br>
       <strong>{{order.status}}</strong><br>
       <strong> Delivery Address : </strong>{{order.contact_name}}<br>
       {{order.address}}, {{order.city}}- {{order.pincode}}, {{order.state}}, {{order.country}}<br>
       <strong> Total : </strong>&#x20B9;{{order.total_amount}}
       
        <div class="clearfix"></div>
        <br>
        <div class="table-responsive">
          <div class="bs-component">
            <table class="table btn-gradient-grey">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Image</th>
                  <th>Color</th>
                  <th>Quantity</th>
                  <th>Size</th>
                  <th>Unit Price</th>
                  <!-- <th>Discount Price</th> -->
                  <!-- <th>Action</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of order.products; let i =  index">
                  <th>{{ i+1 }}</th>
                  <th><span [routerLink]="['/single-product',product.product_id._id]" class="clickable">{{ product.product_id.name }}</span></th>
                  <th><span [routerLink]="['/single-product',product.product_id._id]" class="clickable"><img src="http://{{ product.product_id.mainImage }}" style="max-height:100px"></span></th>
                  <!-- <th>{{ product.product.aprice }}</th> -->
                  <th><span
                    style="width: 80px;display: inline-block; margin: 0 10px;" [ngStyle]="{'background-color':product.color}">&nbsp;</span></th>
                  <th>{{ product.quantity }}</th>
                  <th>{{ product.size }}</th>
                  <th>&#x20B9;{{ product.product_id.dprice }}</th>
                 
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div style="text-align:center;" *ngIf="!showOrders">

        <h3>Buyer Haven't Placed Any Order Yet !</h3>
    </div>
  </div>


    <!-- <div id="tab-content-3" class="tab-content">
        
        <table class="datatable table-listing">
            <thead>
                <tr>
                <th width="10%">Points</th>
                <th width="60%">Description</th>
                <th width="15%">Added Date</th>
                <th width="15%">Expiry Date</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4">No record Flound</td>
                </tr>
            </tbody>
            
        </table>
        <div class="gap"></div>
        <form method="post">
            <table style="width: 100%" border="0" cellspacing="0" cellpadding="0" class="table-form-horizontal">

                <tbody>
                    <tr>
                        <td>Points<span class="star">*</span></td>
                                        <td><input type="text" class="rewards" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Description<span class="star">*</span></td>
                                        <td><textarea class="rewards"></textarea>     

                    </tr>
                    <tr>
                        <td>Validity</td>
                                        <td><input type="text" class="rewards"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                                        <td><input type="submit" class="btn btn-primary" value="Save changes"></td>
                    </tr>
                </tbody>
            </table>
    
        </form>
        
    </div>
    <div id="tab-content-4" class="tab-content">
        <table style="width: 100%" border="0" cellspacing="0" cellpadding="0" class="table-form-horizontal">

                <tbody>
                    <tr>
                        <td>New Password<span class="star">*</span></td>
                                        <td><input type="text" class="edit" required></td>
                    </tr>
                    <tr>
                        <td>Confirm Password<span class="star">*</span></td>
                                        <td><input type="text" class="edit" required></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                                        <td><input type="submit" class="btn btn-primary" value="Save changes"></td>
                    </tr>
                </tbody>
            </table>
    
        
    </div>
    <div id="tab-content-5" class="tab-content">
        <table style="width: 100%" border="0" cellspacing="0" cellpadding="0" class="table-form-horizontal">

                <tbody>
                    <tr>
                        <td>Mail Subject<span class="star">*</span></td>
                                        <td><input type="text" class="edit" required></td>
                    </tr>
                    <tr>
                        <td>Message<span class="star">*</span></td>
                                        <td><textarea></textarea></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                                        <td><input type="submit" class="btn btn-primary" value="Send Email"></td>
                    </tr>
                </tbody>
            </table>
    
        
    </div> -->
    
</div>
</div>


   </div>

</div>
