<div class="profile">
      
  <ul class="breadcrumb">
                <li><a routerLink="/dashboard">Home</a></li>
                <li><a routerLink="/products">Products</a></li>
                 <li><a href="0">Edit Product</a></li>
            </ul>
   <div class="container">
        <div class="tabs">
<input type="radio" name="tab" id="tab1" checked="checked">
<label  for="tab1" class="tabb">General</label>
<input type="radio" name="tab" id="tab2">
<label for="tab2" class="tabb">Data</label>
<input type="radio" name="tab" id="tab3">
<label for="tab3" class="tabb">SEO</label>
<input type="radio" name="tab" id="tab4">
<label for="tab4" class="tabb">QTY Discount</label>


<div class="tab-content-wrapper editform">
  <div id="tab-content-1" class="tab-content ">
    <table style="width: 100%" border="0" cellspacing="0" cellpadding="0" class="table-form-horizontal">

                <tbody>
                    <tr>
                        <td >Product Shop<span class="star">*</span></td>
                                        <td><input type="text" class="edit" placeholder="Shark"></td>
                    </tr>
                    <tr>
                        <td>Type<span class="star">*</span></td>
                                        <td><select>
                                                <option>Physical</option>
                                                <option>Digital</option>
                                            </select>
                                        </td>
                    </tr>
                    <tr>
                        <td>Name<span class="star">*</span></td>
                                        <td><input type="text" class="edit" placeholder="Barang"></td>
                    </tr>
                    <tr>
                        <td>URL Keywords<span class="star">*</span></td>
                                        <td><input type="text" class="edit" placeholder="Barang">
                                            <small>Do not use spaces, instead replace spaces with - and make sure the keyword is globally unique.</small>
                                        </td>
                    </tr>
                    <tr>
                        <td>Price<span class="star">*</span></td>
                                        <td><input type="text" class="edit" placeholder="100.00">
                                            <small>Minimum Selling Price allowed for listing is &#x20B9;10.00.</small>
                                        </td>
                    </tr>
                     <tr>
                        <td>Quantity<span class="star">*</span></td>
                                        <td><input type="text" class="edit" placeholder="10">
                                        </td>
                    </tr>
                     <tr>
                        <td>Minimum Quantity<span class="star">*</span></td>
                                        <td><input type="text" class="edit" placeholder="1"><small>Force a minimum ordered quantity.</small>
                                        </td>
                    </tr>
                    <tr>
                        <td>Brand/Manufacturer</td>
                                        <td><input type="text" class="edit" placeholder="1">
                                        </td>
                                    </tr>
                    <tr>
                        <td>Product Category</td>
                                        <td><select>
                                                <option>Fashion</option>
                                                <option>Women</option>
                                            <option>Entertainment</option>
                                            <option>Art</option>
                                            <option>Electronics</option>
                                            <option>Books and media</option>
                                            <option>Baby and Kids</option>
                                            </select>
                                        </td>
                    </tr>
                     <tr>
                        <td>Modal<span class="star">*</span></td>
                                        <td><input type="text" class="edit" >
                                        </td>
                                    </tr>
                                    <tr>
                        <td>SKU<span class="star">*</span></td>
                                        <td><input type="text" class="edit"><small>Stock Keeping Unit</small>
                                        </td>
                                    </tr>
                                     <tr>
                        <td>Status</td>
                                        <td><select>
                                                <option>Active</option>
                                                <option>In-Active</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                        <td>Photos<span class="star">*</span></td>
                                        <td><input type="file" class="edit"><br><small>Please keep image dimensions greater than 500 x 500. You can upload multiple photos from here.</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Description</td>
                                        <td><textarea></textarea></td>
                                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                                        <td><input type="submit" class="btn btn-primary" value="Save changes"></td>
                    </tr>
                </tbody>
            </table>
    
    
  </div>
  <div id="tab-content-2" class="tab-content">
    
    <table style="width: 100%" border="0" cellspacing="0" cellpadding="0" class="table-form-horizontal">

                <tbody>
                    <tr>
                        <td >Substract Stock</td>
                                        <td><select>
                                            <option>Yes</option>
                                            <option>No</option>
                                        </select></td>
                    </tr>
                    <tr>
                        <td>Track Inventory</td>
                                        <td><select>
                                            <option>Do not track</option>
                                            <option>Track</option>
                                        </select></td>
                    </tr>
                    <tr>
                        <td>Youtube Video</td>
                                        <td><input type="text" class="edit"><small>Please enter the youtube video URL here.</small></td>
                    </tr>
                    <tr>
                        <td>Date available</td>
                                        <td><input type="date" class="edit"></td>
                    </tr>
                    <tr>
                        <td>Sort Order</td>
                                        <td><input type="text" class="edit">
                                        </td>
                    </tr>
                    <tr>
                        <td>Featured Product</td>
                                        <td><input type="checkbox" value="1"></td>
                                        <span class="clear"></span></tr>
                    <tr>
                        <td>&nbsp;</td>
                                        <td><input type="submit" class="btn btn-primary" value="Save changes"></td>
                    </tr>
                </tbody>
            </table>
    
    
  </div>
    <div id="tab-content-3" class="tab-content">
        <form method="post">
            <table style="width: 100%" border="0" cellspacing="0" cellpadding="0" class="table-form-horizontal">

                <tbody>
                    <tr>
                        <td>Meta Tag Title<span class="star">*</span></td>
                                        <td><input type="text" class="edit"></td>
                    </tr>
                    <tr>
                        <td>Meta Tag Description</td>
                                        <td><textarea class="edit"></textarea>     

                    </tr>
                    <tr>
                        <td>Meta Tag Keywords</td>
                                        <td><textarea class="edit"></textarea>     

                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                                        <td><input type="submit" class="btn btn-primary" value="Save changes"></td>
                    </tr>
                </tbody>
            </table>
    
        </form>
        
    </div>
    <div id="tab-content-4" class="tab-content">
        <table class="datatable table-listing">
            <thead>
                <tr>
                <th width="16%">Quantity</th>
                <th width="16%">Priority</th>
                <th width="16%">Discounted Price</th>
                <th width="16%">Date start</th>
                 <th width="17%">Date End</th>
                 <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                 <td></td>
                 <td></td>                   
                <td></td>
                <td></td>
                <td></td>

            </tr>
            </tbody>
            
        </table>
        
    </div>
    
</div>
</div>


   </div>

</div>
