<div class="container shops">
  <div class="row">
      <div class="col">
          <div class="card">
          <div class="sectionhead">
  <h4>Manage - Shops</h4>
  
  <ul class="breadcrumb">
                  <li><a routerLink="/dashboard">Home</a></li>
                  <li><a href="0">Manage Shops</a></li>
              </ul>
<button class="btn btn-primary" style="float: right;" data-toggle="modal" data-target="#addshop_modal" data-backdrop="static" data-keyboard="false">Add shop</button> 
</div>
<div class="sectionbody" id="shops-list">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
      <tbody>
          <tr>
              <th width="6%">S. No.</th>
              <th>Shop Owner</th>
              <th>Name</th>
              <th>Items</th>
              <th>Active</th>
              <th>Display Status</th>
              <th>Action</th>
          </tr>
          <tr>
              <td>1</td>
              <td>mona</td>
              <td>Monacosmetics</td>
              <td>
                  <a href="/manager/products?shop=26" title="Products">3</a>
              </td>
              <td>Yes</td>
              <td align="center">
                  <span class="label label-success">Shop is Turned ON by Seller.</span>
              </td>

              <td>
                  <ul class="actions">
                      <li>
                          <a href="javascript:void(0);" title="Click to Disable" class="toggleswitch enabled">
                              <i class="fas fa-check-circle"></i>
                          </a>
                      </li>
                      <li>
                                      <a title="Edit" href="editshop" >
                                          <i class="fas fa-edit"></i>
                                      </a>
                                  </li>
                      <li>
                          <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(26, $(this));">
                              <i class="fas fa-trash-alt"></i>
                          </a>
                      </li>
                  </ul>
              </td>
          </tr>
          <tr>
              <td>2</td>
              <td>Homestore</td>
              <td>Homestore</td>
              <td>
                  <a href="/manager/products?shop=9" title="Products">112</a>
              </td>
              <td>Yes</td>
              <td align="center">
                  <span class="label label-success">Shop is Turned ON by Seller.</span>
              </td>

              <td>
                  <ul class="actions">
                      <li>
                          <a href="javascript:void(0);" title="Click to Disable" class="toggleswitch enabled">
                              <i class="fas fa-check-circle"></i>
                          </a>
                      </li>
                      <li>
                                      <a title="Edit"href="editshop">
                                          <i class="fas fa-edit"></i>
                                      </a>
                                  </li>
                      <li>
                          <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(9, $(this));">
                              <i class="fas fa-trash-alt"></i>
                          </a>
                      </li>
                  </ul>
              </td>
          </tr>
          <tr>
              <td>3</td>
              <td>wstore</td>
              <td>BestWomenStore</td>
              <td>
                  <a href="/manager/products?shop=8" title="Products">59</a>
              </td>
              <td>Yes</td>
              <td align="center">
                  <span class="label label-success">Shop is Turned ON by Seller.</span>
              </td>

              <td>
                  <ul class="actions">
                      <li>
                          <a href="javascript:void(0);" title="Click to Disable" class="toggleswitch enabled">
                              <i class="fas fa-check-circle"></i>
                          </a>
                      </li>
                      <li>
                                      <a title="Edit" href="editshop">
                                          <i class="fas fa-edit"></i>
                                      </a>
                                  </li>
                      <li>
                          <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(8, $(this));">
                              <i class="fas fa-trash-alt"></i>
                          </a>
                      </li>
                  </ul>
              </td>
          </tr>
          <tr>
              <td>4</td>
              <td>store</td>
              <td>BestMenStore</td>
              <td>
                  <a href="/manager/products?shop=4" title="Products">38</a>
              </td>
              <td>Yes</td>
              <td align="center">
                  <span class="label label-success">Shop is Turned ON by Seller.</span>
              </td>

              <td>
                  <ul class="actions">
                      <li>
                          <a href="javascript:void(0);" title="Click to Disable" class="toggleswitch enabled">
                              <i class="fas fa-check-circle"></i>
                          </a>
                      </li>
                      <li>
                                      <a title="Edit" href="editshop">
                                          <i class="fas fa-edit"></i>
                                      </a>
                                  </li>
                      <li>
                          <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(4, $(this));">
                              <i class="fas fa-trash-alt"></i>
                          </a>
                      </li>
                  </ul>
              </td>
          </tr>
          <tr>
              <td>5</td>
              <td>maxixx</td>
              <td>Shark</td>
              <td>
                  <a href="/manager/products?shop=3" title="Products">170</a>
              </td>
              <td>Yes</td>
              <td align="center">
                  <span class="label label-success">Shop is Turned ON by Seller.</span>
              </td>

              <td>
                  <ul class="actions">
                      <li>
                          <a href="javascript:void(0);" title="Click to Disable" class="toggleswitch enabled">
                              <i class="fas fa-check-circle"></i>
                          </a>
                      </li>
                      <li>
                                      <a title="Edit" href="editshop">
                                          <i class="fas fa-edit"></i>
                                      </a>
                                  </li>
                      <li>
                          <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(3, $(this));">
                              <i class="fas fa-trash-alt"></i>
                          </a>
                      </li>
                  </ul>
              </td>
          </tr>
          <tr style="color:#AAAAAA">
              <td>6</td>
              <td>PoskoJoel101785260091570824497</td>
              <td>Digiworld</td>
              <td>
                  <a href="/manager/products?shop=79" title="Products">0</a>
              </td>
              <td>No</td>
              <td align="center">
                  <span class="label label-success">Shop is Turned ON by Seller.</span>
              </td>

              <td>
                  <ul class="actions">
                      <li>
                          <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch disabled">
                              <i class="fas fa-check-circle"></i>
                          </a>
                      </li>
                      <li>
                                      <a title="Edit" href="editshop">
                                          <i class="fas fa-edit"></i>
                                      </a>
                                  </li>
                      <li>
                          <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(79, $(this));">
                              <i class="fas fa-trash-alt"></i>
                          </a>
                      </li>
                  </ul>
              </td>
          </tr>
          <tr style="color:#AAAAAA">
              <td>7</td>
              <td>Abhinav</td>
              <td>Trendsongo</td>
              <td>
                  <a href="/manager/products?shop=74" title="Products">1</a>
              </td>
              <td>No</td>
              <td align="center">
                  <span class="label label-success">Shop is Turned ON by Seller.</span>
              </td>

              <td>
                  <ul class="actions">
                      <li>
                          <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch disabled">
                              <i class="fas fa-check-circle"></i>
                          </a>
                      </li>
                      <li>
                                      <a title="Edit"href="editshop">
                                          <i class="fas fa-edit"></i>
                                      </a>
                                  </li>
                      <li>
                          <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(74, $(this));">
                              <i class="fas fa-trash-alt"></i>
                          </a>
                      </li>
                  </ul>
              </td>
          </tr>
          <tr style="color:#AAAAAA">
              <td>8</td>
              <td>verma</td>
              <td>OurShop</td>
              <td>
                  <a href="/manager/products?shop=66" title="Products">3</a>
              </td>
              <td>No</td>
              <td align="center">
                  <span class="label label-success">Shop is Turned ON by Seller.</span>
              </td>

              <td>
                  <ul class="actions">
                      <li>
                          <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch disabled">
                              <i class="fas fa-check-circle"></i>
                          </a>
                      </li>
                      <li>
                                      <a title="Edit" href="editshop">
                                          <i class="fas fa-edit"></i>
                                      </a>
                                  </li>
                      <li>
                          <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(66, $(this));">
                              <i class="fas fa-trash-alt"></i>
                          </a>
                      </li>
                  </ul>
              </td>
          </tr>
          <tr style="color:#AAAAAA">
              <td>9</td>
              <td>kapilgrover</td>
              <td>GroversOnlineshop</td>
              <td>
                  <a href="/manager/products?shop=44" title="Products">1</a>
              </td>
              <td>No</td>
              <td align="center">
                  <span class="label label-success">Shop is Turned ON by Seller.</span>
              </td>

              <td>
                  <ul class="actions">
                      <li>
                          <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch disabled">
                              <i class="fas fa-check-circle"></i>
                          </a>
                      </li>
                      <li>
                                      <a title="Edit" href="editshop">
                                          <i class="fas fa-edit"></i>
                                      </a>
                                  </li>
                      <li>
                          <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(44, $(this));">
                              <i class="fas fa-trash-alt"></i>
                          </a>
                      </li>
                  </ul>
              </td>
          </tr>
          <tr style="color:#AAAAAA">
              <td>10</td>
              <td>justin</td>
              <td>twostringjane</td>
              <td>
                  <a href="/manager/products?shop=1" title="Products">6</a>
              </td>
              <td>No</td>
              <td align="center">
                  <span class="label label-success">Shop is Turned ON by Seller.</span>
              </td>

              <td>
                  <ul class="actions">
                      <li>
                          <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch disabled">
                              <i class="fas fa-check-circle"></i>
                          </a>
                      </li>
                      <li>
                                      <a title="Edit" href="editshop">
                                          <i class="fas fa-edit"></i>
                                      </a>
                                  </li>
                      <li>
                          <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(1, $(this));">
                              <i class="fas fa-trash-alt"></i>
                          </a>
                      </li>
                  </ul>
              </td>
          </tr>
          <tr style="color:#AAAAAA">
              <td>11</td>
              <td>rdzn</td>
              <td>zaahr</td>
              <td>
                  <a href="/manager/products?shop=23" title="Products">0</a>
              </td>
              <td>No</td>
              <td align="center">
                  <span class="label label-success">Shop is Turned ON by Seller.</span>
              </td>

              <td>
                  <ul class="actions">
                      <li>
                          <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch disabled">
                              <i class="fas fa-check-circle"></i>
                          </a>
                      </li>
                      <li>
                                      <a title="Edit" href="editshop">
                                          <i class="fas fa-edit"></i>
                                      </a>
                                  </li>
                      <li>
                          <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(23, $(this));">
                              <i class="fas fa-trash-alt"></i>
                          </a>
                      </li>
                  </ul>
              </td>
          </tr>
          <tr style="color:#AAAAAA">
              <td>12</td>
              <td>akshay2</td>
              <td>HarpreetCosmetics</td>
              <td>
                  <a href="/manager/products?shop=14" title="Products">2</a>
              </td>
              <td>No</td>
              <td align="center">
                  <span class="label label-success">Shop is Turned ON by Seller.</span>
              </td>

              <td>
                  <ul class="actions">
                      <li>
                          <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch disabled">
                              <i class="fas fa-check-circle"></i>
                          </a>
                      </li>
                      <li>
                                      <a title="Edit" href="editshop">
                                          <i class="fas fa-edit"></i>
                                      </a>
                                  </li>
                      <li>
                          <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(14, $(this));">
                              <i class="fas fa-trash-alt"></i>
                          </a>
                      </li>
                  </ul>
              </td>
          </tr>
          <tr style="color:#AAAAAA">
              <td>13</td>
              <td>harpreet</td>
              <td>shopharpreet</td>
              <td>
                  <a href="/manager/products?shop=10" title="Products">1</a>
              </td>
              <td>No</td>
              <td align="center">
                  <span class="label label-success">Shop is Turned ON by Seller.</span>
              </td>

              <td>
                  <ul class="actions">
                      <li>
                          <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch disabled">
                              <i class="fas fa-check-circle"></i>
                          </a>
                      </li>
                      <li>
                                      <a title="Edit" href="editshop">
                                          <i class="fas fa-edit"></i>
                                      </a>
                                  </li>
                      <li>
                          <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(10, $(this));">
                              <i class="fas fa-trash-alt"></i>
                          </a>
                      </li>
                  </ul>
              </td>
          </tr>
          <tr style="color:#AAAAAA">
              <td>14</td>
              <td>ronhenry</td>
              <td>FawnandFoal</td>
              <td>
                  <a href="/manager/products?shop=2" title="Products">1</a>
              </td>
              <td>No</td>
              <td align="center">
                  <span class="label label-success">Shop is Turned ON by Seller.</span>
              </td>

              <td>
                  <ul class="actions">
                      <li>
                          <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch disabled">
                              <i class="fas fa-check-circle"></i>
                          </a>
                      </li>
                      <li>
                                      <a title="Edit"href="editshop">
                                          <i class="fas fa-edit"></i>
                                      </a>
                                  </li>
                      <li>
                          <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(2, $(this));">
                              <i class="fas fa-trash-alt"></i>
                          </a>
                      </li>
                  </ul>
              </td>
          </tr>
      </tbody>
  </table>
  <div class="gap"></div>
</div>
          </div>
      </div>
  </div>
</div>



<div id="addshop_modal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <b>ADD SHOPS</b>
                <button class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <form method="post">
                  <div class="form-group">
                    <label for="name">Shop Owner</label>
                    <input type="text"  class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="name">Name of shop</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="product">Items</label>
                    <input type="number"  class="form-control" >
                  </div>
                  <div class="form-group">
                                         
                     <input type="radio" name="first" value="Enable" id="enable">
                     <label>Active</label>
                     <br>
                     
                     <input type="radio" name="first" value="Disable" id="disable" checked>
                     <label>Inactive</label>
                  </div>
                  <div class="form-group">
                                         
                     <input type="radio" name="second" value="Enable" id="enable">
                     <label>Display status ON</label><br>
                     
                     <input type="radio" name="second" value="Disable" id="disable" checked>
                     <label>Display status OFF</label>
                  </div>
                  <div class="form-group">
                    <input type="Submit" class="btn btn-primary btn-block" name="submit">
                  </div>
                </form>
              </div>
              <div class="modal-footer">
              <button  class="btn btn-default"  data-dismiss="modal">close</button> 
              </div>
            </div>
          </div>
        </div>