<div class="row">
  <div class="col">
    <div class="card">
      <div class="sectionbody" id="categories-list">
        <form name="paginateForm" id="paginateForm" action="" method="post">
          <input type="hidden" name="keyword" value="" />
          <input type="hidden" name="status" value="" />
          <input type="hidden" name="btn_submit" value="Search" />
          <input type="hidden" name="btn_cancel" value="Clear Search" />
          <input type="hidden" name="mode" value="search" />
          <input type="hidden" name="page" value="1" />
          <input type="hidden" name="parent" value="0" />
        </form>
        <div class="sectionhead">
          <h4>VIEW ORDER</h4>

          <div class="clear"></div>
          <ul class="breadcrumb">
            <li><a routerLink="/dashboard">Home</a></li>
            <li><a href="0">View order</a></li>
          </ul>

          <table class="table ordertable">
            <tbody>
              <tr>
                <th>INVOICE ID</th>
                <th>PAYMENT STATUS</th>
                <th>CUSTOMER/GUEST</th>
                <th>PAYMENT METHOD</th>
                <th>ORDER DATE</th>
                <th>SITE COMMISSION</th>
              </tr>
              <tr>
                <td>015903-378399</td>
                <td>Paid</td>
                <td><a href="#">Maxxix</a></td>
                <td>Paytm</td>
                <td>Aug 20, 2018</td>
                <td>$45.00</td>
              </tr>
              <tr>
                <th>AFFILIATE COMMISSION</th>
                <th>REFERRER REWARDS</th>
                <th>REFERRAL REWARDS</th>
                <th>PAYMENT(S) REALISED</th>
                <th>BALANCE PAYMENT</th>
                <th>REFUNDED COMMISSION</th>
              </tr>
              <tr>
                <td>$10</td>
                <td>0</td>
                <td>0</td>
                <td>$11</td>
                <td>$21</td>
                <td>$45.00</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="gap"></div>
      </div>
    </div>
  </div>
</div>
