<app-header></app-header>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="sectionbody" id="categories-list">
        <!--
          <form name="paginateForm" id="paginateForm" action="" method="post">
            <input type="hidden" name="keyword" value="" /><input
              type="hidden"
              name="status"
              value=""
            /><input type="hidden" name="btn_submit" value="Search" /><input
              type="hidden"
              name="btn_cancel"
              value="Clear Search"
            /><input type="hidden" name="mode" value="search" /><input
              type="hidden"
              name="page"
              value="1"
            /><input type="hidden" name="parent" value="0" />
          </form>
        -->
        <div class="sectionhead">
          <h4>Manage - Product Categories</h4>

          <div class="clear"></div>
          <ul class="breadcrumb">
            <li><a routerLink="/dashboard">Home</a></li>
            <li><a>Product Categories</a></li>
          </ul>

          <button
            class="btn btn-primary"
            style="float: right;"
            routerLink="/add-category"
          >
            Add Category
          </button>
        </div>
        <table
          width="100%"
          border="0"
          cellspacing="0"
          cellpadding="0"
          class="table"
        >
          <tbody>
            <tr>
              <th width="10%">S. No.</th>
              <th width="20%">Name</th>
              <!-- <th width="15%">Parent</th> -->
              <!-- <th width="15%">Products</th> -->
              <th width="20%">Active</th>
              <th width="20%">Subcategory</th>
              <th width="20%">Action</th>
            </tr>
            <tr *ngFor="let cat of allCat; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ cat.name }}</td>
              <!-- <td>-NA-</td> -->
              <!-- <td><a href="38">6</a></td> -->

              <td>Yes</td>
              <td>
                <a>{{ cat.subcategories.length }}</a>
              </td>

              <td>
                <ul class="actions">
                  <!--
                    <li>
                        <a title="Click to Disable" class="toggleswitch enabled">
                            <i class="fas fa-check-circle"></i>
                        </a>
                    </li>
                  -->
                  <li>
                    <a title="Edit" [routerLink]="['/category', cat._id]">
                      <i class="fas fa-edit"></i>
                    </a>
                  </li>
                  <li>
                    <a title="Delete" (click)="deleteCategory(cat._id)">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="gap"></div>
      </div>
    </div>
  </div>
</div>

<!--
  <div id="addcategory_modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <b>ADD CATEGORY</b>
          <button class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form method="post">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" name="name" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="name">Parent</label>
              <input type="text" name="parent" class="form-control" placeholder="Parent">
            </div>
            <div class="form-group">
              <label for="product">Products</label>
              <input type="text"  name= "product" class="form-control" placeholder="Products">
            </div>
            <div class="form-group">
              <label for="subcategory">Subcategory</label>
              <input type="text"  name= "subcategory" class="form-control" placeholder="Subcategory">
            </div>
            <div class="form-group">

               <input type="radio" name="first" value="Enable" id="enable"><label>Active</label><br>

               <input type="radio" name="first" value="Disable" id="disable" checked> <label>Inactive</label>
            </div>
            <div class="form-group">
              <input type="Submit" class="btn btn-primary btn-block" name="submit">
            </div>
          </form>
        </div>
        <div class="modal-footer">
        <button  class="btn btn-default"  data-dismiss="modal">close</button>
        </div>
      </div>
    </div>
  </div>
-->
